.MainPageHeader__logo {
  width: 32px;
  height: 32px;
}

.MainPageHeader__appTitle {
  flex: 1;
  margin: 0;
  font-size: var(--title-font-size);
}

.MainPageHeader__icon {
  width: 32px;
  height: 32px;
}
